/* 
    Document   : ezinstall
    Created on : 14-ago-2013, 16.49.58
    Author     : paolo
    Description:
        Purpose of the stylesheet follows.
    Stylesheet for ezinstall cgi script.
*/

body { 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
}
h1 {
  text-align: left;
}
.rule {
  text-align: left;
  width: 66%;
}
.error_title {
  color: #ff3333;
  font-weight: bold;
  float: left;
}
#ini_sent {
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
}
#zip_sent {
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
}
#login_table {
  width: 504px;
  border-style: solid;
  border-collapse: collapse;
  border-color: black;
  border-width: thin;
}
#login_table td {
  border-style: solid;
  border-collapse: collapse;
  border-color: black;
  border-width: thin;
}
.login_table_label {
  width: 174px;
  text-align: right;
}
#createdir_table {
  width: 504px;
  border-style: none;
}
#upload_table {
  width: 600px;
  border-style: none;
}
.upload_cell {
  width: 203px;
  text-align: right;
}
#download_table {
  width: 504px;
  border-style: none;
}
.submit_row {
  text-align: center;
  height: 40px;
}
.submit_row_onecol {
  text-align: left;
  height: 40px;
}
.throbber {
  background: transparent url(/ezinstall/ezinstall_throbber.gif) no-repeat 0px -18px;
  float: left; /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
}

/* thanks to Eric Bidelman */

  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
