/* 
    Document   : ezinstall
    Created on : 14-ago-2013, 16.49.58
    Author     : paolo
    Description:
        Purpose of the stylesheet follows.
    Stylesheet for ezinstall cgi script.
*/

body { 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
}
h1 {
  text-align: left;
}
.rule {
  text-align: left;
  width: 66%;
}
.error_title {
  color: #ff3333;
  font-weight: bold;
  float: left;
}
#login_table {
  width: 504px;
  border-style: solid;
  border-collapse: collapse;
  border-color: black;
  border-width: thin;
}
#login_table td {
  border-style: solid;
  border-collapse: collapse;
  border-color: black;
  border-width: thin;
}
.login_table_label {
  width: 174px;
  text-align: right;
}
#createdir_table {
  width: 504px;
  border-style: none;
}
#upload_table {
  width: 600px;
  border-style: none;
}
.upload_cell {
  width: 203px;
  text-align: right;
}
#download_table {
  width: 504px;
  border-style: none;
}
.submit_row {
  text-align: center;
  height: 40px;
}
.submit_row_onecol {
  text-align: left;
  height: 40px;
}
